{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block page_content %}
<script>
	window.is_404 = true;
</script>
<div class="vertical-wrapper pt-lg--10 pt-5 pb-lg--10 pb-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 text-center default-page">
				<div class="card border-0 text-center d-block">
					<img src="/assets/vroha/universe/images/404.png" alt="icon" class="w200 mb-4 ml-auto mr-auto ">
					<h1 class="fw-700 text-grey-900 display4-size display4-md-size">{{_("Oops! It looks like you're lost.")}}</h1>
					<p class="text-grey-700 font-xss fw-500 text-danger">{{_("{0} : Let us start all over again! ").format('404')}}</p>
					<a href='/' class="p-3 w175 bg-current text-white d-inline-block text-center fw-600 font-xssss rounded-lg text-uppercase ls-3">{{ _("Home") }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
