$feather-font-path: "/assets/vroha/universe/fonts";
$themify-font-path: "/assets/vroha/universe/fonts";
$img-folder-path: "/assets/vroha/universe/images";
$owl-image-path: "/assets/vroha/universe/vendor/owl-carousel";
