{% extends base_template_path %}

{% block hero %}{% endblock %}

{% block content %}

	{% macro container_attributes() -%}
		id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
		{%- if page_or_generator=="Generator" %}
			source-type="Generator" data-doctype="{{ doctype }}"
		{%- endif %}
		{%- if source_content_type %}
			source-content-type="{{ source_content_type }}"
		{%- endif %}
	{%- endmacro %}

	
	<div {{ container_attributes() }} class="layer-after {{page_div_class or ''}}">
		<div class="page-content-wrapper">
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>
			
			{% if self.header_actions() %}
			<div class="page-header-actions-block">
				{% block header_actions %}{% endblock %}
			</div>
			{% endif %}
	
			<div class="page_content">
				{%- block page_content -%}{%- endblock -%}
			</div>
	
			<div class="page-footer">
				{%- block page_footer -%}{%- endblock -%}
			</div>
		</div>

	</div>


{% endblock %}

