{%- set slideshow = frappe.get_doc('Website Slideshow', website_slideshow) -%}
{%- set slides = slideshow.slideshow_items -%}
{%- set slideshow_id = 'id-' + frappe.utils.generate_hash('Slideshow', 12) -%}

<div id="{{ slideshow_id }}" class='owl-carousel course-slide owl-theme overflow-hidden {{ "dot-style2 owl-nav-link" if slides | len > 1}} '>
	{% for slide in slides %}
		<div class="item">
			<div class="card course-slider rounded-lg border-0 banner-wrap overflow-hidden">
				<div class="card-image">
					{%if slide.video%}
						<video autoplay="" muted="" loop="" id="myVideo">
							<source src="{{slide.video}}" type="video/mp4">
						</video>
					{% else %}
						<img src="{{slide.image}}" alt="image">
					{% endif %}
				</div>
				<div class="card-body position-absolute align-items-center d-flex h-100">
					<div class="card-content">
						<span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-warning d-inline-block text-warning mr-1 mb-2">Reacthh</span>
						<h2 class="display1-size display1-sm-size fw-700 lh-3 text-white ">{{slide.heading}}</h2>    
						<p class="d-none d-xl-block font-xssss fw-500 text-grey-300 lh-30 mt-0 mr-5 mb-0">{{slide.description}}</p>
						<div class="star d-block w-100 text-left mt-2">
							<img src="/assets/roadslink/universe/images/star.png" alt="star" class="w15 float-left">
							<img src="/assets/roadslink/universe/images/star.png" alt="star" class="w15 float-left">
							<img src="/assets/roadslink/universe/images/star.png" alt="star" class="w15 float-left">
							<img src="/assets/roadslink/universe/images/star.png" alt="star" class="w15 float-left">
							<img src="/assets/roadslink/universe/images/star-disable.png" alt="star" class="w15 float-left mr-2">
						</div>
						<p class="review-link d-none d-lg-block font-xssss fw-600 text-grey-100 lh-3 mb-1">({{total_ratings}} ratings)</p>
						<div class="clearfix"></div>
						<a href="#" class="bg-primary-gradiant border-0 text-white fw-600 text-uppercase font-xssss float-left rounded-lg d-inline-block mt-0 p-2 lh-34 text-center ls-3 w200 mt-3">Get Course</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}	
</div>

